<h1>Whats your Burger!</h1>
<div id="img">
  
</div>

<form class="form">
  <textarea placeholder="What burger do you like?" style="height: 160px" id="message" name="name"></textarea>
  <input type="submit" value="submit">

</form>


<div id= "container">

  <div><ul>
  {{#each burger}}
  {{#if devoured}}
  {{else}}
    <li>
      <p class= "burger" status={{id}} >name: {{burger_name}}</p>
      <button class="devoure" status= {{id}}>Devoure it</button>
    </li>
    {{/if}}
  {{/each}}
</ul></div>
  <div>
<ul>
  {{#each burger}}
  {{#if devoured}}
    <li>
      <p>name: {{burger_name}}</p>
      
    </li>
    {{/if}}
  {{/each}}
</ul>
  </div>
