<h1>Burger App</h1>
<div id="img" >
  <img src="/assets/img/burger-clip-art.jpg" alt="Burger" style="margin:auto; width:100px; display:block">
</div>

<form class="form">
  <textarea placeholder="Name the burger you like to have " style="height: 160px" id="message" name="name"></textarea>
  <input type="submit" value="submit">

</form>

<div id= "container">

  <div><ul>
  {{#each burger}}
  {{#if devoured}}
  {{else}}
    <li>
      <p class= "burger" status={{id}} >Burger: {{burger_name}}</p>
      <button class="devoure" status= {{id}}>Devoure it</button>
    </li>
    {{/if}}
  {{/each}}
</ul></div>
  <div>
<ul>
  {{#each burger}}
  {{#if devoured}}
    <li>
      <p>Burger: {{burger_name}}</p>
      
    </li>
    {{/if}}
  {{/each}}
</ul>
  </div>
